No validation errors if local references are misspelled as '#definitions/...'

| Q                                   | A
| ----------------------------------- | -------
| Bug or feature request?             | Bug?
| Which Swagger/OpenAPI version?      | 2.0, 3.0
| Which Swagger-Editor version?       | 3.0.0+
| How did you install Swagger-Editor? | http://editor.swagger.io, also downloaded from [releases](https://github.com/swagger-api/swagger-editor/releases)
| Which broswer & version?            | Chrome 62
| Which operating system?             | Windows 7

This is related to https://github.com/swagger-api/swagger-ui/issues/3888.

### Demonstration API definition
2.0:
```yaml
swagger: '2.0'
info:
  version: 0.0.0
  title: test
paths:
  /:
    get:
      parameters:
        - $ref: '#parameters/foo'
      responses:
        200:
          $ref: '#responses/200OK'

definitions:
  Pet:
    type: object
    properties:
      name:
        type: string
      petType:
        type: string

  Dog:
    allOf:
      - $ref: '#definitions/Pet'
      - type: object
        properties:
          packSize:
            type: integer

parameters:
  foo:
    in: query
    name: foo
    type: string

responses:
  200OK:
    description: OK
    schema:
      $ref: '#definitions/Dog'
```
3.0:
```yaml
openapi: 3.0.0
info:
  version: 0.0.0
  title: test
paths:
  /:
    get:
      parameters:
        - $ref: '#components/parameters/foo'
      responses:
        200:
          $ref: '#components/responses/200OK'

components:
  schemas:
    Pet:
      type: object
      properties:
        name:
          type: string
        petType:
          type: string
  
    Dog:
      allOf:
        - $ref: '#components/schemas/Pet'
        - type: object
          properties:
            packSize:
              type: integer
  
  parameters:
    foo:
      in: query
      name: foo
      schema:
        type: string
  
  responses:
    200OK:
      description: OK
      content:
        application/json:
          schema:
            $ref: '#components/schemas/Dog'
```

### Expected Behavior
Validation errors that `#definitions/...` and other references cannot be resolved; it should be `#/definitions/...`.

### Current Behavior
No errors.

### Context
According to the [JSON Reference syntax](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03#section-3) and [JSON Pointer RFC 6901](https://tools.ietf.org/search/rfc6901#section-3), local references should be in the format `#/foo/bar` with `/` after the `#`:

> A JSON Pointer is a Unicode string (see [RFC4627], Section 3) containing a sequence of zero or more reference tokens, **each prefixed by a '/' (%x2F) character**.
> ...
> A JSON Pointer can be represented in a URI fragment identifier ...

Thus,  `#definitions/...` without `/` after the `#` is an error.

2.x editor (http://editor2.swagger.io) catches these errors in 2.0 specs and displays "ptr must be a JSON Pointer". The new editor does NOT catch these errors.

Misspelled references like `#definitions/...` can be very hard to notice manually, so editor validation would really help catch these things.

On hold pending #1517

@shockey v.3.2.0 broke the fix, so the issue still exists.
Could you reopen please?

@hkosova, done - I'll look at this in the coming week!

This is more complex than I was anticipating :confused: 

There are some elusive issues with `$$ref` meta patches in specmap within Swagger-Client that are causing $ref validation here to be unreliable.

I'm going to have to punt this to next week (when I have more time) and dig into specmap.

Reopening to ensure that this is tracked when the OAS3 semantic validation work ships.

@shockey In Editor 3.4.0, this validation works for OpenAPI 2.0:

![image](https://user-images.githubusercontent.com/8576823/37272915-3170830a-25e9-11e8-945c-e77a3a0fb8b8.png)

but does NOT work for OpenAPI 3.0:

![image](https://user-images.githubusercontent.com/8576823/37272947-47decc46-25e9-11e8-91e4-7d54cbc0db53.png)

Am I missing something?